:root {
  --bg: linear-gradient(to right, #cffafe, #d3f7ff, #d9f4ff, #e0f0ff, #e7edff, #ebedff, #eeecfe, #f2ecfd, #f2eefb, #f3f1f9, #f4f3f7, #f5f5f5);
  --theme-color: #ffffff;
  --theme-color-secondary: #f3f3f3;
  --theme-text-color: #000000;
  --text-color-dimmed: #a2a2a2;
  --button: #7865F8;
  --button-hover: #6853f5;
  --button-border: #6853f5;
  --button-text: #ffffff;
  --href-text-color: #3b82f6;
}

.dark-mode {
  --bg: #2b2b2b;
  --theme-color: #383838;
  --theme-color-secondary: #494949;
  --theme-text-color: #e8e8e8;
  --text-color-dimmed: #bababa;
  --button: #3b82f6;
  --button-hover: #2563eb;
  --button-border: #2563eb;
  --button-text: #ffffff;
  --href-text-color: #65a0ff;
}